<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="right">right</label>
    <input type="text" name="right" id="right">
    <label for="left">left</label>
    <input type="text" name="left" id="left">
    <label for="up">up</label>
    <input type="text" name="up" id="up">
    <label for="down">down</label>
    <input type="text" name="down" id="down">
    <label for="keyPosition">key</label>
    <input type="number" name="keyPosition" id="keyPosition">
    <label for="coinPosition">coin</label>
    <input type="number" name="coinPosition" id="coinPosition">
    <input type="button" value="load" id="load">
    <canvas width="800" height="800" id="canvas"></canvas>
    <script type="module" src="../static/js/roomPage.js"></script>
</body>
</html>